:root {
    --main-color: #f33f3f;
}

.form {
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .btn {
    color: white;
    background-color: var(--main-color);
    box-shadow: none;
}

.form .email-inp:focus,
.form .pass-inp:focus {
    border: none;
    box-shadow: 2px 0px 10px 2px var(--main-color);
}

.form .form-check .checkbox:checked {
    background-color: var(--main-color) !important;
    color: var(--main-color) !important;
}

.form .btn:focus {
    box-shadow: 2px 0px 10px 2px var(--main-color);
}